SUBSYSTEM !="usb_device", ACTION !="add", GOTO="delcom_904008_rules_end"

SYSFS{idVendor} =="0fc5", SYSFS{idProduct} =="b080", SYMLINK+="delcom_904008"

MODE="0666", OWNER="greenscreen", GROUP="root"

LABEL="delcom_904008_rules_end"
